@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex; 
}
.sidebar{
    background-color: lightgray;
    width: 270px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}

.sidebar nav{
    padding: 60px;
}
.sidebar nav li{
   list-style: none;
   font-size: 20px;
   padding: 30px 0;
}
.sidebar nav li a{
  text-decoration: none;
  color: black;
}
.main{
    
    width: 90vw;
     padding-top: 120px;
}

.contactform {    
    font-family: 'Fira Sans', sans-serif;
    padding: 0 45px;
   
}
.contactform h2{    
    font-family: 'Source Code Pro', monospace;
    font-weight: 300; 
    padding: 10px 0 ;
}

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    
     
}
.contactform form div input{
    border-radius: 5px;
    width: 16vw;    
    border: 1px solid black;
    height: 24px;
    margin: 6px 0;
    padding: 3px;
    
}

#emailHelp{
    font-size: 10px;
    padding-top: 15px;
    margin: 0 2px;
    color: rgb(110, 112, 25);
    font-weight: bold;
}

.btn{
    font-size: 13px;
    padding: 9px 14px;
    border: 1px solid rgb(12, 12, 12);
    border-radius: 20px;
    color: rgb(17, 2, 2);
    background-color: rgb(67, 156, 245);
    font-weight: bold;
    margin: 0 3px;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    transition: all 0.4s ease-in-out;
}